<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
</div>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集",edit_user_path(@user) %></p>
  <% end %>
<% @product_images.each do |product_image| %>
<div>
  <% if !current_user   %>
    <%= link_to new_user_session_path  do %>
      <%=attachment_image_tag product_image, :product_image %>
    <% end %>
  <% else %>
    <%=link_to  product_path (product_image.id) do %>
      <%=attachment_image_tag product_image, :product_image %>
    <% end %>
  <% end %>

  <p>日時：<%= product_image.time %></p>
  <p>ショップ名：<%= product_image.shop_name %></p>
  <p>店舗住所：<%= product_image.address %></p>
  <p>料理名：<%= product_image.menu_name %></p>
  <p>ジャンル：<%= product_image.genre.genre_name %></p>
  <p>説明：<%= product_image.description %></p>
  <p>ユーザーネーム：<%= product_image.user.name %></p>
  <p><%= link_to "#{product_image.comments.count} コメント",product_path(product_image.id) %></p>
  <p>♥いいね(<%= product_image.favorites.count%>)</p>

</div>
<% end %>

<%= paginate @product_images %>