<div class = "users-show">
  <div class="profile-container">
    <% if @user.id == current_user.id %>
      <p><%= image_tag'log3.png',size:'30x30'%><%= link_to "プロフィール編集",edit_user_path(@user) %></p>
    <% end %>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
  <div class="user-content">
    <% @product_images.each do |product_image| %>
      <div class="postedcontent">
      <% if !current_user   %>
        <%= link_to new_user_session_path  do %>
          <%=attachment_image_tag product_image, :product_image ,size:'200x150'%>
        <% end %>
      <% else %>
        <%=link_to  product_path (product_image.id) do %>
          <%=attachment_image_tag product_image, :product_image ,size:'200x100'%>
        <% end %>
      <% end %>
      <div class="users-text">
        <table  cellpadding="3px">
        <!--table tag オプション-->
          <tr>
            <td>【日時】</td>
            <td><%= product_image.time.strftime("%Y-%m-%d %H:%M") %></td>
          </tr>
          <tr>
            <td>【店舗名】</td>
            <td><%= product_image.shop_name %></td>
          </tr>
          <tr>
            <td>【店舗住所】</td>
            <td><%= product_image.address %></td>
          </tr>
          <tr>
            <td>【料理名】</td>
            <td><%= product_image.menu_name %></td>
          </tr>
          <tr>
            <td>【ジャンル】</td>
            <td><%= product_image.genre.genre_name %></td>
          </tr>
          <tr>
            <td>【説明】</td>
            <td><%= product_image.description %></td>
          </tr>
          <tr>
            <td><%= attachment_image_tag product_image.user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg",size:'20x20',class:"profile"%></td>
            <td> <p></p><%= product_image.user.name %></td>
          </tr>
          <tr>
            <td colspan="2">♥いいね(<%= product_image.favorites.count%>)</td>
            <!--calspan=結合-->
          </tr>
          <tr>
            <td colspan="2"><%= link_to " コメント(#{product_image.comments.count})",product_path(product_image.id) %></td>
          </tr>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>

