  <%= attachment_image_tag @product, :product_image %>
  <%#<p>投稿ユーザー画像：<%= image_tag('sample-author1.jpg') %ユーザー画像後で登録%>
  <p>日時：<%= @product.time %></p>
  <p>ショップ名：<%= @product.shop_name %></p>
  <p>店舗住所：<%= @product.address %></p>
  <p>料理名：<%= @product.menu_name %></p>
  <p>ジャンル：<%= @product.genre.genre_name %></p>
  <p>説明：<%= @product.description %></p>
  <p>ユーザーネーム：<%= @product.user.name %></p>
  <% if @product.user == current_user %>
    <%= link_to "削除",  product_path(@product), method: :delete %>
  <% end %>
  <% if @product.favorited_by?(current_user) %>
    <p>
      <%= link_to product_favorites_path(@product), method: :delete do %>
        ♥いいね(<%= @product.favorites.count %>)
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to product_favorites_path(@product), method: :post do %>
        ♡いいね(<%= @product.favorites.count %>)
      <% end %>
    </p>
  <% end %>

<div class="comments">
<p>コメント件数：<%= @product.comments.count %></p>
<% @product.comments.each do |comment| %>
  <p><%#= image_tag('sample-author1.jpg') 後で追加%></p>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% if comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", product_path(@product), method: :delete %>
  </div>
  <% end %>


<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@product, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>