<div class="top">
  <div class="slide" id="makeImg">
    <%= image_tag'image1.jpg'%>
    <%= image_tag'image2.jpg'%>
    <%= image_tag'image3.jpg'%>
    <%= image_tag'image4.jpg'%>
  </div>
  <div class = "calendar">
    <%= month_calendar do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>