<div class="header">
  <ul class="menu_bar">
    <li><%= link_to "Top",root_path %></li>
    <li><%= link_to "About", about_products_path %></li>
    <li><%= link_to "Share",products_path %></li>
    <li><%= link_to "Ranking","#" %></li>
    <li><%= link_to "ログイン",new_user_session_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>
<h1>TOPページ</h1>