<!DOCTYPE html>
<html>
  <head>
    <title>MealDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Top",root_path %>
        <%= link_to "About", about_products_path %>
        <%= link_to "Share",products_path %>
        <%= link_to "Ranking",ranking_products_path %>
        <%= link_to "投稿",new_product_path %>
        <%= link_to 'マイページ', user_path(current_user.id) %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <div class="search-form">
        <%= form_with url: search_products_path, method: :get, local: true do |f| %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :genre_name, prompt: "-- 選択してください --") %>
        <%= f.submit "検索" %>
    <% end %>
      </div>
      </li>
    <% else %>
      <li>
        <%= link_to "Top",root_path %>
        <%= link_to "About", about_products_path %>
        <%= link_to "Share",products_path %>
        <%= link_to "Ranking",  new_user_registration_path %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
  <div class="search-form">
    <%= form_with url: search_products_path, method: :get, local: true do |f| %>
      <%= f.collection_select(:genre_id, Genre.all, :id, :genre_name, prompt: "-- 選択してください --") %>
      <%= f.submit "検索" %>
      </li>
    <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
